<% if @best_work %>
  <section class="row spotlight">
    <div>
      <h3>Media Spotlight: <%= link_to @best_work.title, work_path(@best_work) %> by <%= @best_work.creator %></h3>
      <p><%= @best_work.vote_count %> votes - <%= @best_work.description %></p>
    </div>
  </section>
<% end %>

<%= render partial: "top_ten", locals: {
  media_category: "movie",
  data: @movies
}
%>
<%= render partial: "top_ten", locals: {
  media_category: "book",
  data: @books
}
%>
<%= render partial: "top_ten", locals: {
  media_category: "album",
  data: @albums
}
%>
