<article class="media-details columns large-6 small-12">
  <h3><%= @work.title %></h3>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p><%= @work.description %></p>
  <section>
    <%= link_to "Back to #{@media_category.singularize} list", works_path(@media_category), class: "button" %>
    <%= link_to "Edit", edit_work_path(@work), class: "button" %>
    <%= link_to "Upvote", upvote_path(@work), class: "button", method: :post %>
    <%= link_to "Delete", work_path(@work), class: "alert button", method: "delete", data: { confirm: "Are you sure?" } %>
  </section>
</article>

<article class="voting-users columns large-6 small-12">
  <h3><%= @votes.count %> Votes for this <%= @media_category.capitalize.singularize %></h3>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.user.username, user_path(vote.user) %></td>
        <td><%= render_date vote.created_at %></td>
      </li>
    <% end %>
  </ul>
</article>
