<h3>User Summary: <%= link_to @user.username, user_path(@user) %></h3>
<p>Joined site <%= render_date @user.created_at %></p>

<h4>Votes</h4>
<table>
  <thead>
    <tr>
      <th>Media Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Category</th>
      <th>Voted On</th>
    </tr>
  </thead>
  <tbody>
    <% @user.votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.work.title, media_path(vote.work) %></td>
        <td><%= vote.work.creator %></td>
        <td><%= vote.work.publication_year %></td>
        <td><%= vote.work.category.capitalize %></td>
        <td><%= render_date vote.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "See all Users", users_path, class: "button" %>
<%= link_to "Back to Media List", root_path, class: "button" %>
