<% if @best_piece %>
  <section class="row spotlight">
    <h3>Spotlight: <%= link_to "#{@best_piece.title}, by #{@best_piece.creator}", media_path(@best_piece) %></h3>
    <p><%= @best_piece.vote_count %> votes - <%= @best_piece.description %></p>
  </section>
<% end %>

<%= render partial: "media/top_ten", locals: {
  media_type: "Movies",
  collection_path: movies_path,
  data: @movies
}
%>
<%= render partial: "media/top_ten", locals: {
  media_type: "Books",
  collection_path: books_path,
  data: @books
}
%>
<%= render partial: "media/top_ten", locals: {
  media_type: "Albums",
  collection_path: albums_path,
  data: @albums
}
%>
