<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker 2.0</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Gudea:400,700|Hammersmith+One' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
  <header class="page-header row">
    <h2 class="columns small-12">
      <%= link_to "Media Ranker", root_path %>
      <small>Ranking the Best of Everything</small>
    </h2>

    <nav class="columns small-12">
      <%= link_to "View top media", root_path, class: "button" %>
      <%= link_to "View all media", works_path, class: "button" %>
      <%= link_to "Add a new work", new_work_path, class: "button" %>
      <%= link_to "View all users", users_path, class: "button" %>
      <div class="float-right">
        <% if @login_user %>
          <%= link_to "Logged in as #{@login_user.username}", user_path(@login_user), class: "button" %>
          <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
        <% else %>
          <%= link_to "Log In", login_path, class: "button float-right" %>
        <% end %>
      </div>
    </nav>
  </header>

  <% if flash[:result_text] or flash[:messages] %>
    <section class="row status <%= flash[:status] %>">
      <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:result_text] %></h3>
      <% if flash[:messages] %>
        <ul>
          <% flash[:messages].each do |name, problems| %>
            <% problems.each do |problem| %>
              <li><%= name %>: <%= problem %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </section>
  <% end %>

  <main class="row">
    <%= yield %>
  </main>
</body>
</html>
